@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#authScreen {
  background-image: url("/src/assets/hero-art-banner.webp");
  background-size: cover;
  background-position: center;
}
